.svg-container {
  max-width: 800px;
  margin: 0 auto; }

body {
  background-color: grey; }

svg {
  width: 1200px;
  max-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  display: block; }

.st0 {
  transition: all .5s ease-in-out; }

.st0:hover, .st0:active, .st0:focus {
  cursor: pointer; }
