$bg: #fff;
$text: #272727;
$blue-grey: #263238;
$blue-med: #607d8b;



// allow button hover
.btn {
  overflow: hidden;
}
.btn:hover:before {
  opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.svg-container {
    max-width: 800px;
    margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
}

svg {
  width: 1200px;
  max-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

.st0 {
  transition: all .5s ease-in-out;
}

.st0:hover, .st0:active, .st0:focus {
  cursor: pointer;
}

.side-nav {
  max-width: 250px;
}

.side-nav li>.mandala-link {
  display:block;
  height: 100%;
}


.sp-replacer {
  display: none;
}

.show {
  display: inline-block;
}

welcome {
  .container {
    background-image: url('/img/design.png');
    background-position: center -8em;
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .title {
    font-family: 'Lobster Two', cursive;
    color: $blue-grey;
    a {
      color: #cfd8dc;
    }
  }
  .title-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 15em;

    a {
      text-decoration: underline;
      color: $blue-grey;
    }
  }
  .footer {
    position: fixed;
    display: block;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    a {
      display: inline-block;
      width: 44%;
      margin-bottom: 3em;
      &:first-child {
        margin-left: 4%;
        margin-right: 2%;
      }
      &:last-child {
        margin-right: 4%;
        margin-left: 2%;
      }
    }
  }
}

.header-one {
  h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    color: $blue-med;
    margin: 0;
    padding: 0;
    line-height: 1;
    padding: .125em 0 .2em 0;
  }
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

.header-two {
  width: 100%;
  background-color: $blue-grey;
  h2 {
    font-size: 1em;
    padding: .75em 0;
    margin: 0;
    padding: 0;
    padding: .5em 0;
  }
  padding: 0;
  color: #fff;
  margin: 0;
  padding-left: 1em;
}

.form-holder {
  margin: 1em;
  input {
    height: 1em;
  }
}

form {
  /* label focus color */
    .field input:focus + label, .materialize-textarea:focus:not([readonly]) {
      color:  $blue-med !important;
  }
  /* label underline focus color */
    .field input:focus, .materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid $blue-med !important;
      box-shadow: 0 1px 0 0 $blue-med !important;
    }
}
