<!DOCTYPE html>
<html ng-app='myApp'>

<head>
  <meta charset="utf-8">
  <title>Mandala</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- spectrum color picker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">

  <script src="/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <script src="/js/app.module.js"></script>
  <script src="/js/app.service.js"></script>
  <script src="/js/mandala/mandala.component.js"></script>
  <script src="/js/login/login.component.js"></script>
  <script src="/js/app.config.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <input id='colorpicker' />
  <!-- <ui-view></ui-view> -->
  <div ui-view></div>
  <!-- <mandala></mandala> -->
  <button id="clear_mandala_btn">clear</button>
</body>

</html>
